* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

body {
    background-color: #affaf4;
}

h1 {
    text-align: center;
    font-family: 'Modak', cursive;
    font-size: 8.75vmin;
    font-weight: 400;
    margin-top: 1vmin;
    margin-bottom: 3vmin;
}

p {
    font-size: 2.2vmin;
    text-align: center;
}

.tvoutside {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vmin;
    width: 95vmin;
    height: 70vmin;
    border: 0.75vmin solid #4d2e1c;
    border-radius: 5vh;
    background-color:#825031;
    margin: auto;
}

.sketchContainer {
    display: flex;
    flex-wrap: wrap;
    background-color: #121111;
    border: 1px solid black;
    width: 60vmin;
    height: 60vmin;
}

.pad {
    background-color: #121111;
}

.controlButtonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 3vmin;
}

.slider {
    appearance: none;
    width: 25vmin;
    height: 2vmin;
    border-radius: 10vmin;  
    background: #4d2e1c;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    box-shadow: rgba(0, 0, 0, 0.24) 0vmin 0.5vmin 1.4vmin;
    border: 0.1vmin solid #2c1a10;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 3vmin;
    height: 3vmin;
    border-radius: 50%; 
    background: #8a0101;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0vmin 0.5vmin 1.4vmin;
    border: 0.1vmin solid #2c1a10;
}

.slider::-webkit-slider-thumb:hover {
    transform: translate(0.2vmin, -0.2vmin);
    transition: 0.2s;
}
  
.slider::-moz-range-thumb {
    width: 3vmin;
    height: 3vmin;
    border-radius: 50%;
    background: #8a0101;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0vmin 0.5vmin 1.4vmin;
    border: 0.1vmin solid #2c1a10;
}
.slider::-moz-range-thumb:hover {
    transform: translate(0.2vmin, -0.2vmin);
    transition: 0.2s;
}

#sizeIndicator {
    margin-bottom: 1vmin;
}

#colorPicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    cursor: pointer;
    width: 25vmin;
    height: 4.5vmin;
    margin-top: 1vmin;
    background-color: transparent;
}

#colorPicker::-webkit-color-swatch {
    border-radius: 7vmin;
    border: none;
    border: 0.5vmin solid #4d2e1c;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 7px;
}
.clearBtn {
    background-color: #825031;
    border: 0.5vmin solid #4d2e1c;
    width: 25vmin;
    height: 4vmin;
    border-radius: 7vmin;
    font-size: 2.2vmin;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 4px 7px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

.clearBtn:hover {
    background-color: #8a01014f; 
    transition: 0.2s;
    cursor: pointer;
    transform: translate(0.2vmin, -0.2vmin);
}

/*rotating spirals in background*/
.spiral {
    width: 20vmin;
    height: 20vmin;
    position: relative;
    z-index: -5;
}

.spiral1 {
    top: -83vmin;
    left: 35vmin;
    animation: rotation 7.5s infinite linear;
}

.spiral2 {
    top: -60vmin;
    left: 140vmin;
    animation: rotation 7s infinite linear reverse;
}

.spiral3 {
    top: -10vmin;
    left: -15vmin;
    animation: rotation 8s infinite linear alternate;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}